<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 1px solid;
        text-align: center;
      }
      table ,th{
        background-color: rgb(90, 221, 129);
        margin-left: auto;
        margin-right: auto;
      }
     
      th {
        background-color: aquamarine;
      }
      /* tr:hover {
        background-color: rgb(6, 68, 24);
        color: white;
      } */
    </style>
</head>
<body>
    <h3 style="text-align: center;">welcome to the deshbord</h3>


    <table>
      <tr>
        <td>
          <div>
            <a href="http://localhost:6800/tictacto">tic tac toa</a>  
          </div>
        </td>
        <td> <div>
          <a href="http://localhost:6800/eventtable">event table </a>  
        </div></td>
        <td>   <div>
          <a href="http://localhost:6800/tablecell">TABLE CELL </a>  
        </div></td>
      </tr>

      <tr>
        <td>  <div>
          <a href="http://localhost:6800/sorting">sorting </a>  
        </div></td>
        <td>  <div>
          <a href="http://localhost:6800/crudinfile">crud in file  </a>  
        </div>
  </td>
        <td>   <div>
          <a href="http://localhost:6800/alllist">employe form using ajx  </a>  
        </div></td>
      </tr>


      <tr>
        <td>
          <div>
            <a href="http://localhost:6800/tablefetchapi">fetch api  </a>  
          </div>
        </td>
        <td>
          <div>
            <a href="http://localhost:6800/listing">listing student  </a>  
          </div>
          
        </td>
        <td> 
          <div>
            <a href="http://localhost:6800/pagindindex">pagindindex student  </a>  
          </div></td>
      </tr>

<tr>
  <td>  <div>
    <a href="http://localhost:6800/mainpageinsorting">attendance of student and sorting  </a>  
  </div>
  </td>
  <td>
      
    <div>
      <a href="http://localhost:6800/result"> result of  student  </a>  
    </div>
  </td>
  <td>   <div>
    <a href="http://localhost:6800/timeconvertor">timeconvertor   </a>  
  </div></td>
</tr>


<tr>
  <td><div>
    <a href="http://localhost:6800/component">component   </a>  
  </div>
  </td>
  <td>  <div>
    <a href="http://localhost:6800/delimiterserch">delimiterserch   </a>  
  </div>
</td>
  <td>    

    <div>
      <a href="http://localhost:6800/kucube">cube   </a>  
    </div></td>
</tr>
    </table>
    

</body>
</html>