<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget page </title>
    <style>

    </style>
</head>
<body>
    <form name="registerform" id="registerform">
        <div style="margin-left: auto; margin-right: auto; background-color: aquamarine; max-width: 500px; margin-top: 158PX;border-radius: 50px;">
       
          <div style="text-align: center; padding-top: 60px; ">
            <h3>forget password pag</h3>
          </div>
          <div style="padding-left:150px ;padding-right: 150px;">
            <div>
              <label for="email">email</label>
              <input id="email" type="text" name="email">
              <label id="emailerror"></label>
            </div>
            <br>
            <br>
            <!-- <div>
              <label for="passwords">password</label>
              <input id="passwords" type="password" name="passwords">
              <label id="passwordserror"></label>
            </div>
            <br>
            <br> -->
            <div style="margin-left: -55px; padding-bottom: 10px;">
              <input type="button" value="forget password" id="forget" style="margin-left: 63px;
                    margin-top: -16px;  background-color: rgb(8, 87, 87); width: 154px; height: 30PX; ">
            </div>
            <br>
            <br>
        <!-- </form>

            <form name="setpasswordform" id="setpasswordform" > -->
                <div id="setpassword" style="display: none;">
            <div>
                <label for="paswword"> set password</label>
                <input type="password" id="passwords" name="passwords">
                <span id="passwordserror"></span>
              </div>
              <br>
              <br>
      
              <div>
                <label for="conformpassword">conform password</label>
                <input type="password" name="conformpassword" id="conformpassword">
                <span id="conformpasswordserror"></span>
              </div>
              <br>
              <br>

              <div style="margin-left: -55px; padding-bottom: 10px;">
                <input type="button" value="set password" id="setpassbtn" style="margin-left: 63px;
                      margin-top: -16px;  background-color: rgb(8, 87, 87); width: 154px; height: 30PX; ">
              </div>
            </div>
          </div>
        </div>
    
      </form>
</body>

<script>
    document.getElementById("forget").addEventListener("click" , async(req , res)=>{
        document.getElementById("setpassword").style.display ="none"
        document.getElementById("emailerror").innerHTML = ""
        let email = document.getElementById("email").value;

        if(email != ""){

        let form = document.getElementById("registerform")
      let basic_detailss = new FormData(form);
      const params = new URLSearchParams(basic_detailss);
      const response = await new Response(params).text();
      // console.log(response);
      // console.log(typeof(response))
      let data = await fetch("http://localhost:6800/forgetpassword", {
        method: "post",
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: response
      })
      let alldata = await data.json()

 if(data.status == 200 ){
    document.getElementById("setpassword").style.display ="block"
    

 }
 else{
    document.getElementById("emailerror").innerHTML = "email is not register"
    // console.log( data);
 }}
 else{
    document.getElementById("emailerror").innerHTML = "email is emapty"

 }
    })



    document.getElementById("setpassbtn").addEventListener("click" ,async(req ,res)=>{

        let validation = valid()
    if (validation == true) {

        // document.getElementById("setpassword").style.display ="none"
        // document.getElementById("emailerror").innerHTML = ""
        // var email = document.getElementById("email").value;

        var form = document.getElementById("registerform")
      let basic_detailss = new FormData(form);
      const params = new URLSearchParams(basic_detailss);
      const response = await new Response(params).text();
      console.log(response);
      console.log(typeof(response))
      let data = await fetch("http://localhost:6800/forgetpassword", {
        method: "post",
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: response
      })
      var alldata = await data.json()
    // console.log(alldata.massage);
    Swal.fire({

title: "Good job!",
text: "password set successfully ",
icon: "success"
});
    }

    })

    function valid() {
      let passwords = document.getElementById("passwords")
        .value;
      let conformpassword = document.getElementById(
        "conformpassword").value;

 
    //   emailPattern =
    //     /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    //   if (emailPattern.test(email) == false || email == "") {
    //     document.getElementById("emailerror").innerHTML =
    //       "pleace enter valid email";
    //     return false;
    //   }
  
   
      const passwordreg =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{5,30}$/
      if (passwords == "" || passwordreg.test(passwords) ==
        false) {
        document.getElementById("passwordserror")
          .innerHTML =
          "pleace enter VALID password";
        return false;
      }
      if (conformpassword == "" || passwordreg.test(
          conformpassword) == false) {
        document.getElementById("conformpasswordserror")
          .innerHTML =
          "pleace enter valid conformpassword";
        return false;
      }
      if (conformpassword != passwords) {
        document.getElementById("conformpasswordserror")
          .innerHTML =
          "pleace enter same password";
        return false;
      }
      return true
    }

    function emailvalidate(){

        let email = document.getElementById("email").value;
              emailPattern =
        /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
      if (emailPattern.test(email) == false || email == "") {
        document.getElementById("emailerror").innerHTML =
          "pleace enter valid email";
        return false;
      }
  return true
    }
</script>
</html>