
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BUBBALE SORT</title>
  <style>
    body{
 
      align-items: center;
      background-color: rgb(127, 208, 255);
      display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
    }
  </style>
</head>

<body>

  <h3 style="text-align: center;">kamyab</h3>

  <div style=" display:flex; gap: 30px;">
    <table>
      <tr>
        <td id="array"></td>
        <td> <input type="button" onclick="sortarray()" id="btn" class="btn" value="sort" /></td>
      </tr>
      <tr>
        <td><h3 id="result"></h3></td>
      </tr>
    </table>

  
</div>


  <BR>
  <bR>
    <hr>
    <div>
  <select id="select">
    <option id="ahemdabad0">AHEMDABAD</option>
    <option id="ahemdabad1">RAJKOT</option>
    <option id="ahemdabad0">BHAVNAGAR</option>
    <option selected id="ahemdabad3">SURAT</option>
    <option id="volvo">Volvo</option>
    <option id="saab">Saab</option>
    <option id="opel">Opel</option>

  </select>

  <input type="button" value="sort_option" onclick="sortoption()" />
</div>
  <br>
  <br>
  <br>
  <div>
  <table>
    <tr>
      <td>
        <input type="text" id="input" name="sort" placeholder="enter number to sort" />
      </td>
    
    <br />
    <br />
   
      <td>
        <input type="button" value="sort" onclick="sortarray11()" />
      </td>
    </tr>
    <tr>
      <td id="print"></td>
    </tr>
  </table>
</div>
</body>

<script>
  let array1 = [1, 29, 46, 2, 22, 556, 9, 0];
  // console.log(array1);
  document.getElementById("array").innerHTML = array1;

  function sortarray() {
    sortarray1(array1);
    // console.log(array1);
    document.getElementById("result").innerHTML = array1;
  }

  function sortarray1(array1) {
   
    for (let i = 0; i < array1.length; i++) {
      // console.log("1");
      for (let j = 0; j <= array1.length - 1; j++) {
        if (array1[j] > array1[j + 1]) {
          let temp = array1[j];
          array1[j] = array1[j + 1];
          array1[j + 1] = temp;
        }
      }
    }
    return array1;
  }

  function sortoption() {
    var array1 = [];
    var option = document.querySelectorAll("option");
    // console.log(option);
    for (let i = 0; i < option.length; i++) {
      var optionname = option[i].value;
      array1.push(optionname);
    }

    sortarray1(array1);

    function sortarray1(array1) {
      for (let i = 0; i < array1.length; i++) {
        // console.log("1");
        for (let j = 0; j <= array1.length - 1; j++) {
          if (array1[j] > array1[j + 1]) {
            let temp = array1[j];
            array1[j] = array1[j + 1];
            array1[j + 1] = temp;
          }
        }
      }
      return array1;
    }

    for (let i = 0; i < array1.length; i++) {
      var list = document.getElementById("select");
      list.removeChild(list.firstElementChild);
    }
    var select = document.getElementById("select");
    for (let i = 0; i < array1.length; i++) {
      const para = document.createElement("option");
      para.innerText = array1[i];
      select.appendChild(para);
    }
  }



  function sortarray11() {
    var inputvalue = document.getElementById("input").value;
    var singalvalue = inputvalue.split(",");
    var array1 = [];

    for (let i = 0; i < singalvalue.length; i++) {
      var intvalue = parseInt(singalvalue[i]);
      array1.push(intvalue);
   
    }

    for (let i = 0; i < array1.length; i++) {

      for (let j = 0; j <= array1.length - 1; j++) {
        if (array1[j] > array1[j + 1]) {
          let temp = array1[j];
          array1[j] = array1[j + 1];
          array1[j + 1] = temp;
        }
      }
    }

    document.getElementById("print").innerHTML = array1;
  }
</script>

</html>