<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <H3>DATA IS UPDATED</H3>
    <a href="/mainpageinsorting">go home page</a>
  </body>
</html>
