<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise-2</title>
</head>
<style>
    td {
        border: 1px solid #000;
        height: 50px;
        width: 50px;
    }

    body {
      background-color: rgb(127, 208, 255);

    }

    button {
        height: 50px;
        width: 200px;
        margin-left: 30%;
    }

    #game-table {

        border: 1px solid;
    }

    #table-container {
        max-height: 500px;
    }
</style>

<body>
    
    <hr>
    <div id="score">Score: <span id="score-value">0</span></div>
    
    <div id="timeout">Time <span id="time">10</span></div>

    <button onclick="startmain()">Start Game</button>
    <p id="endgame"></p>
    
    <div id="table-container">
        <table id="game-table"></table>
    </div>


    <script>
        var gameTable = document.getElementById("game-table");
        var cells = [];
        var counter = 2;
        var score = 0;



        function startmain() {

            var timeout = 10;
            startGame();

            var timer = setInterval(() => {


                console.log(timeout);
                if (timeout <= 0) {
                    clearInterval(timer)
                    // alert(`times up  `);
                    document.getElementById("time").textContent = 'Try Again';
                    Finishgame(score);

                }
                else {
                    document.getElementById("time").textContent = timeout;
                }
                timeout--;

            }, 1000);
        }


        function startGame() {

            gameTable.innerHTML = "";
            cells = [];

            var letters = "0123456789ABCDEF";
            var color = "#";

            for (i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }


            for (i = 0; i < counter; i++) {
                var row = gameTable.insertRow()
                for (j = 0; j < counter; j++) {
                    var cell = row.insertCell();
                    cell.addEventListener("click", cellclickeventHandler);
                    cells.push(cell);
                    cell.style.backgroundColor = color;

                }

            }

            var colnumber = document.querySelectorAll("td");
            var index = Math.floor(Math.random() * colnumber.length);
            colnumber[index].style.opacity = 0.7;
            colnumber[index].isDifferent = true;

        }

        function cellclickeventHandler() {
            if (this.isDifferent) {
                counter++;
                score++;
                updateScore(score);
                startGame();

            }
       
        }

        function updateScore(newscore) {
            score = newscore;
            document.getElementById("score-value").textContent = score;
        }

        function Finishgame(score) {
            updateScore(0);
            counter = 2;
            gameTable.innerHTML = "";

            var para = document.getElementById("endgame");
            para.innerText = "your score is : " + score;
            // clearInterval(timer);
        }

    </script>


</body>

</html>