<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>welcome to the deshbord</h3>
    <div>
      <a href="http://localhost:6800/tictacto">tic tac toa</a>  
    </div>
    <div>
        <a href="http://localhost:6800/eventtable">event table </a>  
      </div>
      <div>
        <a href="http://localhost:6800/tablecell">TABLE CELL </a>  
      </div>


      <div>
        <a href="http://localhost:6800/sorting">sorting </a>  
      </div>

      <div>
        <a href="http://localhost:6800/crudinfile">crud in file  </a>  
      </div>



      <div>
        <a href="http://localhost:6800/alllist">employe form using ajx  </a>  
      </div>
</body>
</html>